body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.chat-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 15px 0px 0px 5px;
  max-height: calc(100vh - var(--header-height));
  overflow-x: auto;
}

.chat-bubble {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
}

.left {
  flex-direction: row;
}

.right {
  flex-direction: row-reverse;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 10px;
}

.name {
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 12px;
}

.left .name {
  text-align: left;
}

.right .name {
  text-align: right;
}
.message-container {
  display: flex;
  flex-direction: column;
}
.message-left {
  align-items: flex-start;
}
.message-right {
  align-items: flex-end;
}

.message {
  background-color: #edf2f7; /* Soft blue-gray */
  border-radius: 15px;
  padding: 10px;
  max-width: 80%;
  word-wrap: break-word;
  text-align: left; /* Align text within bubbles */
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 1.4;
}

.left .message {
  background-color: #bee3f8; /* Light blue */
  color: #383737; /* Dark blue text */
}

.right .message {
  background-color: #f0f0f0; /* Light gray */
  text-align: right;
  color: #383737;
}


@media (min-width: 768px) {
  /* Styles for tablets and larger */
  .message {
    max-width: 70%;
  }
  .chat-container {
    margin: 0px 0px 0px 5px;
  }
}

@media (min-width: 1024px) {
  /* Styles for small laptops/desktops and larger */
  .message {
    max-width: 60%;
  }
}

@media (min-width: 1280px) {
  /* Styles for large laptops/desktops and larger */
}

@media (min-width: 1536px) {
  /* Styles for extra large screens */
}
