body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #a8dadc;
  padding: 20px;
  color: ##222e2f;
}
.App-title {
  font-size: 30px;
  font-weight: bold;
  padding: 1px;
  margin: 1px;
}

.App-subheader {
  font-size: 15px;
  padding: 5px;
}

@media (min-width: 768px) {
  .App-header {
    padding: 30px;
  }
}

@media (min-width: 1024px) {
  .App-header {
    padding: 40px;
  }
}
